.chat {
  display: flex;
  height: 600px;
  border: 1px solid rgba(159, 183, 197, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.chatUsers {
  border-right: 1px solid rgba(159, 183, 197, 0.1);
  padding: 20px;
  width: 200px;
  background-color: #f6f9fa;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
}

.messages {
  flex: 1;
  height: calc(100% - 155px);
  overflow: auto;
}

.message {
  margin-bottom: 20px;
}

.formMessages {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.formArea {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  width: 30%;
  height: 33%;
}
